
@{
    ViewBag.Title = "Prozdrav";
    Layout = "~/Views/Shared/_mojlayout.cshtml";
}

@section header
{
    <div id="header">
        Ustvarjamo lepo stran
    </div>

    }
@section list
{
    <ul>
        <li>

            lorem
        </li>

        <li>

            sgag
        </li>
        <li>

            jhdasfaf
        </li>
        <li>

            hfdhsafda
        </li>
        <li>

            sfagsdh
        </li>
    </ul>
    }
<h1>Multisekcijska vsebina</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac interdum magna. Pellentesque mattis lacinia nisi, a lacinia leo bibendum nec. Cras maximus nibh sed tellus consequat tincidunt. Nunc vitae enim eget erat dignissim porta. Proin mattis pretium nulla, sit amet imperdiet nulla dignissim tincidunt. In justo eros, tempus sit amet pellentesque et, vestibulum eget est. Vivamus neque purus, dictum in efficitur convallis, viverra at metus. Vestibulum eleifend iaculis mauris, eu tincidunt justo placerat eu.

</p>

