@model DrugaMVC.Models.student
@{
    ViewBag.Title = "TestRazorja";
}
<h1>test razor sintakse</h1>
<ul>
    <li>student id: @Model.Studentid</ li >
    <li>ime:    @Model.Studentname </ li >
    <li>Starost:   @Model.Age </ li >
</ul>